<header class="nav_scrolled" >
  <div class="nav_list">
    <a href="">
      <img src="../assets/GK_EWP_Logo 1_White.png" 
           alt="EWP_logo" 
           style="width: 80px;">
    </a>
  </div> 
  <nav class="main-nav">
      <ul class="nav_list">  
        <li><a href="about">About</a></li>
        <li><a href="post">Share</a></li>
        <li><a href="contact">Contact Us</a></li>               
      </ul>
  </nav>
</header>
<div class="head-spacer flip-gradient"></div>
<main class="full-page flip-gradient">
  <section class="centered-box" style="background-color: transparent;">
    <h1>Contact Us</h1>
    <h3>
      Please feel free to contact us with any questions concerning the growth of our community at:
    </h3>
    <h3>
      info@ewproject.org
    </h3>
    <h3>If you have any issues regarding a post or any other concern, please email us at:</h3>
    <h3>support@ewproject.org</h3>
  </section>
</main>