<section class="home-box centered-content">
    <img src="../../../assets/GK_EWP_Logo 1_White.png" 
         alt="EWP_logo">
    <h2>A passion project connecting women's stories to the power they hold.</h2>
    <br>
</section>



<main>
    <section class="invite">
        
        <h3>
            <b>Tell us:</b> <br> <b>What are you proud of?</b>
        </h3>
        <p>
            Share as much or as little as you would like.
        </p>
        <h3><b>We want a picture of you or something that is significant to you!</b></h3>
        <p>It does not have to be a formal picture.</p>
        <h3><b>Share with other amazing women!</b></h3>
    </section>

    <section>
        <br>
        <div class="nav_list invite--btn">
            <a href="post" style="color: black;">Share Your Story</a> 
        </div>
        <br>
    </section>
    <br>
    <section>
        <h3 style="font-size: xxx-large; text-decoration: underline;">&nbsp;&nbsp;<b>Our Stories</b>&nbsp;&nbsp;</h3>
    </section>
</main>