<header class="nav_scrolled" >
  <div class="nav_list">
    <a href="">
      <img src="../assets/GK_EWP_Logo 1_White.png" 
           alt="EWP_logo" 
           style="width: 80px;">
    </a>
  </div> 
  <nav class="main-nav">
      <ul class="nav_list">  
        <li><a href="about">About</a></li>
        <li><a href="post">Share</a></li>
        <li><a href="contact">Contact Us</a></li>               
      </ul>
  </nav>
</header>
<div class="head-spacer"></div>

<main class="full-page">
    <section class="centered-box">
        <h1>Do Not Track</h1>
        <p>
            Extraordinary Women Project does not track our website's users during use, accross third party websites
            or otherwise to provide targeted advertisement. For this reason Extraordinary Women Project also does not
            respond to Do Not Track or DNT signals. However, some third party applications may track your browsing
            activities to tailor advertisements presented to you. If you would wish, you can change your browser settings
            to set your DNT signal to not allow for advertisers to track your usage. To learn more about DNT settings,
            Extraordinary Women Project recommends visiting
            <a href="https://allaboutdnt.com/" style="color: #070505;" target="_blank" rel="nofollow"><b>allaboutdnt.com</b></a>
            for more information
        </p>
    </section>
</main>
