<!--  TOOLBAR   -->
<header class="" >
  <div class="nav_list">
    <a href="">
      <img src="../assets/GK_EWP_Logo 1_White.png" 
           alt="EWP_logo" 
           style="width: 80px;">
    </a>
  </div> 
  <nav class="main-nav">
      <ul class="nav_list">  
        <li><a href="about">About</a></li>
        <li><a href="post">Share</a></li>
        <li><a href="contact">Contact Us</a></li>               
      </ul>
  </nav>
</header>

<!-- PAGE CONTENT -->
<router-outlet></router-outlet>





