<header class="nav_scrolled" >
  <div class="nav_list">
    <a href="">
      <img src="../assets/GK_EWP_Logo 1_White.png" 
           alt="EWP_logo" 
           style="width: 80px;">
    </a>
  </div> 
  <nav class="main-nav">
      <ul class="nav_list">  
        <li><a href="about">About</a></li>
        <li><a href="post">Share</a></li>
        <li><a href="contact">Contact Us</a></li>               
      </ul>
  </nav>
</header>
<div class="head-spacer flip-gradient"></div>

<main class="full-page flip-gradient">
  <section class="centered-box">
    <h1>About Extraordinary Women Project</h1>
    <h3>
      Everyday women deserve recognition for their
      sacrifices, challenges, and accomplishments.
    </h3> 
    <br>
    <h3>
      The Extraordinary Women Project is a passion project 
      that seeks to empower women through their stories.
    </h3> 
    <br>
    <h3>
      We believe that the power of individual stories can 
      make a collective impact. We encourage women to embrace 
      their personal stories and uplift others in our community.
    </h3> 
    <br>
    <h3>
      The Extraordinary Women Project is that community.
    </h3>
  </section>
</main>

